*{
  margin: 0;
  padding: 0;
  font:-family:'poppins','sans-serif';
}
.Links{
  padding: 9px 25px;
  background-color: #efefef;
  border: none;
  border-radius: 50px;
  box-sizing: border-box
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
  text-decoration: none; 
  
}

.Links:hover{
  text-decoration: none; 
  background-color: #accae2;
}
  
body{
     background: #efefef;
  }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1772e8;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
  }
.logo{
    width: 160px;
    margin-right: 45px; 
  }
.l .r{
    display: flex;
    align-tems: center;
  }
.l ul li{
    list-style: none;
    display: inline-block;
  }
.l ul li img{
    width: 28px;
    margin: 0 15px;
  }
.nav-user-icon img{
    width: 50px;
    border-radius: 70%;
    cursor: pointer;
    margin-left: 10px;
    margin: 0 15px;
  }
nav-user-icon{
    margin-left: 10px;
  }
.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
.search-box img{
    width: 18px;
  }
.search-box input{
    width: 100px;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
  }
.container{
    display:flex;
    justify-content: space-between;
    padding: 13px 5%;
  }
.lc{
  background: #cbdffa;
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  height: 100vh;
}
.mc{
  background: #e5edf5;
  flex-basis: 73%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  height: 100vh;
}
.top{
  background: #84a0c2;
  flex-basis: 73%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  height: 50vh;
} 
.bottom{
  background: #3b5e81;
  flex-basis: 73%;
  position: sticky;
  top: 34px;
  align-self: flex-start;
  height: 50vh;
} 
.blogform{
  position: relative;
  top: 15px;
  left: 87px;
  width: 700px ;
  height: 280px;
  background-color: transparent;
  color: #dedede;
  box-sizing: border-box;
  padding: 20px 30px;
  border-color: #000;
}
.post-form{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Courier New";
}
.post-form2{
  width: 100%;
  margin-bottom: 20px;
}

.post-form3{
  border: none;
  outline: none;
  width: 100px
  height: 20px;
  background-color: #f5f5f5;
  color: #100f0f;
  font-size: 18px;
  border-radius: 20px;
  transition: 0.25s;
  cursor: pointer;
  position: center;
  left: 77px;
}
.post-form1{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Courier New";
}
.stats{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: "Lucida Console";
}
.stats1{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Console";
}
.details{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: "Times New Roman";
}
.pp{
  width: 160px;
  margin-right: 95px; 
  
}
.EditDel{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #f6eeee;
  color: #1d1b1b;
  padding: 3px 6px 3px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.blogs{
  width: 900px ;
  background-color: #c2c9d1b3;
  color: #121212; 
  top: 10%;
  left: 20%;
  position:
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 70px;
  border-color: #000;
  margin: 5px 10px 5px 10px
}
.pu {
  text-align: center;
  font-size: 50 px;
  font-weight: bold;
}
  .pc{
  text-align:center;
  font-size: 30 px;
  }

.stats1{
  padding: 9px 25px;
  background-color: #efefef;
  border: none;
  border-radius: 50px;
  box-sizing: border-box
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
  text-decoration: none; 
  
}

.stats1:hover{
  text-decoration: none; 
  background-color: #accae2;
}