<!DOCTYPE html>
<head>
   <link rel="stylesheet" type="text/css" href="static/Style2.css">
  <body>
    <div class='box'>
      <h1>WELCOME</h1>
    </div>
    <div class='box2'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend tempor sem id placerat. Nullam ullamcorper, ex ut venenatis ultrices, tortor nunc egestas dolor, at cursus ex sem in massa. Aliquam nec arcu vel urna dictum mattis in sed arcu. In hac habitasse platea dictumst. Aenean elementum tempor mattis. Vestibulum sed vestibulum libero, et egestas massa.</p>
      <a class='Links' href='/login'>Login</a>
      <a class='Links' href='/registration'>Registrtion</a>
    </div>
  </body>
</head>
</html>